.fighter-preview___root {
  display: flex;
  flex-direction: row;
  flex-basis: 250px;
  background-color: #ffdfa7C0;
}

.fighter-preview___right {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fighter-preview___right img{
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fighter-preview___img {
  height: 250px;
}